<div class="welcome-message">
  <h1 class="big-header-text">Want a great story?</h1>
  <p>Choose your preferences and click <span class="text-warning">Load Story</span>  to explore captivating tales!</p>
</div>

<router-outlet />

<div class="story-filter">
  <label for="genre">Genre:</label>
  <select id="genre">
    <option value="fantasy">Fantasy</option>
    <option value="sci-fi">Sci-Fi</option>
    <option value="mystery">Mystery</option>
    <option value="romance">Romance</option>
  </select>

  <label for="age-group">Age Group:</label>
  <select id="age-group">
    <option value="children">Children</option>
    <option value="teens">Teens</option>
    <option value="adults">Adults</option>
  </select>

  <label for="length">Length of Read:</label>
  <select id="length" [(ngModel)]="length">
    <option value="short">Short</option>
    <option value="medium">Medium</option>
    <option value="long">Long</option>
  </select>

  <button id="load-story" (click)="buildPromptAndFetch()">Load Story</button>
</div>

<div id="story-display" class="story-display">
  <div *ngIf="loading" class="loader-container">
    <div class="spinner"></div>
    <span class="visually-hidden">Loading story...</span>
  </div>
  <div *ngIf="!loading" [innerHTML]="storyHtml || storyText"></div>
</div>

<div class="audio-option">
  <p>Select your narrator to listen to the audio version of the story?</p>

  <span class="reader-list">
    <span class="narrator-option">
      <span class="narrator-name">Lila</span>
      <img src="Lila.jpg" alt="Lila" class="narrator-image">
    </span>
    <span class="narrator-option">
      <span class="narrator-name">Mr. Fox</span>
      <img src="fox.jpeg" alt="Mr. Fox" class="narrator-image">
    </span>
    <span class="narrator-option">
      <span class="narrator-name">Wise Owl</span>
      <img src="owl.jpeg" alt="Wise Owl" class="narrator-image">
    </span>
    <span class="narrator-option">
      <span class="narrator-name">Queen Aria</span>
      <img src="queen.jpeg" alt="Queen Aria" class="narrator-image">
    </span>
  </span>
  <audio id="audio-player" controls>
    <source src="path-to-audio-file.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
